body {
    background-color: black;
}

h1 {
    color: white;
}

#ball {
    background-color: white;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50vw;
    left: 50vh;
}

#left-paddle {
    background-color: white;
    height: 50px;
    width: 5px;
    position: absolute;
    top: 43vh;
    left: 10vw;
}

#right-paddle {
    background-color: white;
    height: 50px;
    width: 5px;
    position: absolute;
    top: 43vh;
    left: 90vw;
}